* {
    margin: 0px;
}

.container {
    background-image: url("./bg-bottom.svg"), url("./bg-top.svg");
    background-position: bottom, top;
    background-repeat: no-repeat, no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    color: #68696d;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 35px;
    opacity: 0.9;
    margin-top: 50px;
    text-shadow: 1px 0px 0px;
}

.tables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-table {
    background-color: #ffffff;
    width: 70vw;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    margin-top: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.type {
    font-family: "Montserrat", sans-serif;
    color: #70748d;
    font-size: 19px;
    font-weight: 700;
}

.price {
    font-family: "Montserrat", sans-serif;
    color: #434347;
    font-size: 5vw;
    font-weight: 600;
    opacity: 0.9;
    margin-top: 25px;
    margin-bottom: 25px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

hr {
    border: 0.1px solid gainsboro;
    background-color: gainsboro;
}

li {
    font-family: "Montserrat", sans-serif;
    color: #70748d;
    font-size: 17px;
    font-weight: bold;
    opacity: 0.9;
    margin: 20px;
}

.button-dark {
    border: 0px;
    background-image: linear-gradient(to right, #9fa2ef, #6c70df);
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.button-light {
    border: 0px;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    color: #6c70df;
    font-weight: 600;
    margin-top: 20px;
    background-color: #ffffff;
    cursor: pointer;

}

.highlight-table {
    background-image: linear-gradient(to bottom, #a0a4ed, #797ce3);
    color: #ffffff;
}

@media (min-width: 768px) {
    .tables-container {
        flex-direction: row;
    }

    .container {
        background-position: left bottom, right top;

    }

    .price-table {
        width: 20vw;
        height: 55vh;
    }

    .highlight-table {
        height: 60vh;
    }

    .title {
        margin-top: 20px;
    }

    .price {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.toggle-container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #797fe5;
    border-radius: 30px;
    padding: 2px;
    cursor: pointer;
}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 3.5px;
    left: 4px;
}

/* Checkbox checked effect */
.checkbox:checked+.toggle::after {
    left: 33.5px;
}

/* Checkbox vanished */
.checkbox {
    display: none;
}

.toggle-text {
    color: #bcbcc3;
    font-weight: 700;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
    margin-left: 20px;
}


.button-dark:hover {
    background-image: none;
    background-color: #ffffff;
    border: 2px solid #6c70df;
    color: #6c70df;
    padding: 8px;

}

.button-light:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 8px;
}